@using MoneyPortal.ViewModels
@model CurrentUserInfoModel

<nav id="sidebar">
    <!-- User Header-->
    <a href="@Url.Action("UserProfile","Manage")" class="user-profile d-flex align-items-center">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar">
                <img src="~/@Model.AvatarPath" class="img-fluid rounded-circle" />
            </div>
            <div class="title">
                <h1 class="h5">@Model.DisplayName</h1>
                <p>@Model.Role</p>
            </div>
        </div>
    </a>
    <!-- Sidebar Navidation Menus-->
    @if (User.IsInRole("Admin"))
    {
        <span class="heading">Admin</span>
        <ul class="list-unstyled">
            <li id="Admin"> <a href="@Url.Action("Admin", "Admin")"><i class="icon-settings-1"></i>Settings</a></li>
        </ul>
    }
    @*<span class="heading">Main</span>*@
    @if (User.IsInRole("Personal"))
    {
        <ul class="list-unstyled">
            <li id="Home"><a href="@Url.Action("Main","Dashboard")"> <i class="fas fa-lg fa-home"></i>Home</a></li>
            <li>
                <a id="HomesMenu" href="#HomesDropdown" aria-expanded="false" data-toggle="collapse"><i class="fas fa-lg fa-door-open"></i>Households</a>
                <ul id="HomesDropdown" class="collapse list-unstyled ">
                    <!--for each home-->
                    <li id="Home1">@Html.ActionLink("Home1", "Details", "Households")</li>
                </ul>
            </li>
            <li>
                <a id="AccountsMenu" href="#AccountsDropdown" aria-expanded="false" data-toggle="collapse"><i class="fas fa-lg fa-university"></i>Accounts</a>
                <ul id="AccountsDropdown" class="collapse list-unstyled ">
                    <!--for each account-->
                    <li id="Account1">@Html.ActionLink("Account1", "Details", "BankAccounts", new { accountId = " " }, null)</li>
                </ul>
            </li>
        </ul>
    }
    else if (User.IsInRole("Business"))
    {

    }
</nav>