@using MoneyPortal.ViewModels
@model SideNavVM

<nav id="sidebar">
    <!-- User Header-->
    <a href="@Url.Action("UserProfile","Manage")" class="user-profile d-flex align-items-center">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar">
                <img src="~/@Model.AvatarPath" class="img-fluid rounded-circle" />
            </div>
            <div class="title">
                <h1 class="h5">@Model.DisplayName</h1>
            </div>
        </div>
    </a>
    <!-- Sidebar Navidation Menus-->
    <span class="heading">@Model.Role</span>
    <ul class="list-unstyled">
        @if (User.IsInRole("Admin"))
        {
            <li id="Admin"><a href="@Url.Action("Admin", "Admin")"><i class="icon-settings-1"></i>Settings</a></li>
        }
        else if (User.IsInRole("Owner"))
        {
            <li>
                <a id="dd-household-link" href="#dd-Household" aria-expanded="false" data-toggle="collapse"><i class="fas fa-lg fa-home"></i>Household</a>
                <ul id="dd-Household" class="collapse list-unstyled">
                    <li id="household-dashboard"><a href="@Url.Action("Main","Dashboard")"><i class="fas fa-lg fa-tachometer-alt"></i>Dashboard</a></li>
                    <li id="household-transactions"><a href="@Url.Action("Transactions","Households")"><i class="fas fa-lg fa-money-check"></i>Transactions</a></li>
                    <li id="household-bank-accounts"><a href="@Url.Action("BankAccounts","Households")"><i class="fas fa-lg fa-university"></i>Accounts</a></li>
                    <li id="household-members"><a href="@Url.Action("Members","Households")"><i class="fas fa-lg fa-users"></i>Members</a></li>
                </ul>
            </li>
        }
        else if (User.IsInRole("Member"))
        {
            <li>
                <a id="dd-household-link" href="#dd-Household" aria-expanded="false" data-toggle="collapse"><i class="fas fa-lg fa-home"></i>Household</a>
                <ul id="dd-Household" class="collapse list-unstyled">
                    <li id="household-dashboard"><a href="@Url.Action("Main","Dashboard")"> <i class="fas fa-lg fa-tachometer-alt"></i>Dashboard</a></li>
                    <li id="household-transactions"><a href="@Url.Action("Transactions","Households")"> <i class="fas fa-lg fa-money-check"></i>Transactions</a></li>
                    <li id="household-bank-accounts"><a href="@Url.Action("BankAccounts","Households")"> <i class="fas fa-lg fa-university"></i>Bank Accounts</a></li>
                    <li id="household-members"><a href="@Url.Action("Members","Households")"> <i class="fas fa-lg fa-users"></i>Members</a></li>
                </ul>
            </li>
        }
        else if (User.IsInRole("Personal"))
        {
            <li id="Lobby"><a href="@Url.Action("Main","Dashboard")"><i class="fas fa-lg fa-tachometer-alt"></i>Lobby</a></li>
        }
        @if (Model.Role != "Admin")
        {
            <li>
                <a id="dd-bank-accounts" href="#AccountsDropdown" aria-expanded="false" data-toggle="collapse"><i class="fas fa-lg fa-university"></i>Bank Accounts</a>
                <ul id="AccountsDropdown" class="collapse list-unstyled ">
                    @*<li id="accounts-dashboard"><a href="@Url.Action("Main","Dashboard")"> <i class="fas fa-lg fa-tachometer-alt"></i>Lobby</a></li>*@
                    @foreach (var account in Model.Accounts)
                    {
                    <li id="ba-@account.Id">
                        <a href="@Url.Action("AccountDetails","BankAccounts", new { accountId = account.Id })" id="ba-@account.Id">
                            @if (account.Type.Name == "Checking")
                            {
                                <i class="fas fa-lg fa-money-check-alt"></i>
                            }
                            else if (account.Type.Name == "Savings")
                            {
                                <i class="fas fa-lg fa-piggy-bank"></i>
                            }
                            else if (account.Type.Name == "Credit")
                            {
                                <i class="fas fa-lg fa-credit-card"></i>
                            }
                            @account.Name
                        </a>
                    </li>
                    }
                    <li id="add-bank-account" data-toggle="modal" data-target="#modal-add-bank-account"><a href="#"> <i class="fas fa-lg fa-plus"></i>Add Bank Account</a></li>
                </ul>
            </li>
        }
    </ul>
</nav>

<!--MODALS FOR MULTIPLE VIEWS-->
<!--ADD BANK ACCOUNT-->
<div id="modal-add-bank-account" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Bank Account</h4>
                <div data-dismiss="modal"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
            @using (Html.BeginForm("Create", "BankAccounts"))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.Label("Account Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="bankAccountName" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.Label("Type", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("Types", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("Starting Balance", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text form-control">$</span>
                            </div>
                            <input type="number" class="form-control" name="startingBalance" required />
                            <div class="input-group-append">
                                <span class="input-group-text form-control">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("Low Balance Alert", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text form-control">$</span>
                            </div>
                            <input type="text" class="form-control" name="lowBalanceLevel" required />
                            <div class="input-group-append">
                                <span class="input-group-text form-control">.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="btn-add-bank-account">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            }
        </div>
    </div>
</div>