@using MoneyPortal.ViewModels
@model CurrentUserInfoModel

<nav id="sidebar">
    <!-- User Header-->
    <a href="@Url.Action("UserProfile","Manage")" class="user-profile d-flex align-items-center">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar">
                <img src="~/@Model.AvatarPath" class="img-fluid rounded-circle" />
            </div>
            <div class="title">
                <h1 class="h5">@Model.DisplayName</h1>
            </div>
        </div>
    </a>
    <!-- Sidebar Navidation Menus-->
    <span class="heading">@Model.Role</span>
    <ul class="list-unstyled">
        @if (User.IsInRole("Admin"))
        {
            <li id="Admin"><a href="@Url.Action("Admin", "Admin")"><i class="icon-settings-1"></i>Settings</a></li>
        }
        else if (User.IsInRole("Owner"))
        {
            <li id="Lobby"><a href="@Url.Action("Main","Dashboard")"> <i class="fas fa-lg fa-home"></i>Household</a></li>
        }
        else if (User.IsInRole("Member"))
        {
            <li id="Lobby"><a href="@Url.Action("Main","Dashboard")"> <i class="fas fa-lg fa-home"></i>Household</a></li>
        }
        else if (User.IsInRole("Personal"))
        {
            <li id="Lobby"><a href="@Url.Action("Main","Dashboard")"> <i class="fas fa-lg fa-home"></i>Lobby</a></li>
        }
        @if (Model.Role != "Admin")
        {
            <li>
                <a href="#AccountsDropdown" aria-expanded="false" data-toggle="collapse"><i class="fas fa-lg fa-university"></i>Bank Accounts</a>
                <ul id="AccountsDropdown" class="collapse list-unstyled ">
                    @foreach (var account in Model.Accounts)
                    {
                        <li>
                            <a href="#ba-@account.Id" aria-expanded="false" data-toggle="collapse">
                                @if (account.Type.Name == "Checking")
                                {
                                    <i class="fas fa-lg fa-money-check-alt"></i>@account.Name
                                }
                                else if (account.Type.Name == "Savings")
                                {
                                    <i class="fas fa-lg fa-piggy-bank"></i>@account.Name
                                }
                                else if (account.Type.Name == "Credit")
                                {
                                    <i class="fas fa-lg fa-credit-card"></i>@account.Name
                                }
                            </a>
                            <ul id="ba-@account.Id" class="collapse list-unstyled ">
                                <li id=transaction-@account.Id>@Html.ActionLink("Transactions", "Details", "BankAccounts", new { accountId = account.Id }, null)</li>
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</nav>