@{
    ViewBag.Title = "Portal Administration";
}

<div class="row shortcut-bar">
    <div class="col-auto">
        <div class="shortcut btn" id="shc-bank-account-type"><strong>Bank Account Type</strong> <i class="fas fa-plus"></i></div>
    </div>
    <div class="col-auto">
        <div class="shortcut btn" id="shc-transaction-type"><strong>Transaction Type</strong> <i class="fas fa-plus"></i></div>
    </div>
</div>
<div class="row" id="AdminInputs">
    <!--BANK ACCOUNT TYPES-->
    <div id="add-bankaccount-type" class="col-4">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <div class="col-auto"><strong>Add Bank Account Type</strong></div>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("CreateType", "BankAccounts"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="BankAccountType" />
                        </div>
                    </div>

                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <input id="btn-bank-account-type" type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- TRANSACTION TYPES -->
    <div id="add-transaction-type" class="col-4">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <div class="col-auto"><strong>Add Bank Account Type</strong></div>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("CreateType", "BankAccounts"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="TransactionType" />
                        </div>
                    </div>

                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <input id="btn-transaction-type" type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //ACTIVE MENU BUTTON
        $('#Admin').addClass('active')

        //BLOCK CONTROL BUTTONS
        $('.btn-block-minimize').on("click", function (e) {
            $(e.currentTarget).toggleClass(['fa-chevron-up', 'fa-chevron-down'])
            $(e.currentTarget).closest('.block').children('.collapsable').slideToggle()
        });
        $('.btn-block-close').on("click", function (e) {
            $(e.currentTarget).closest('.block').parent().toggleClass('d-none')
        });

        //SHORTCUT BUTTONS
        $('#shc-bank-account-type').on("click", () => {
            $('#add-bankaccount-type').removeClass('d-none')
            $('#AdminInputs').prepend($('#add-bankaccount-type'))
        })
        $('#shc-transaction-type').on("click", () => {
            $('#add-transaction-type').removeClass('d-none')
            $('#AdminInputs').prepend($('#add-transaction-type'))
        })

        //TOASTR ALERTS SETUP
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        //AXAX CALLS
        $('#btn-bank-account-type').on("click", function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddBankAccountType", "Admin")",
                data: { type: $('#BankAccountType').val() },
                dataType: "json",
                success: function (result) {
                    if (result) {
                        toastr["success"](`Succussfully added ${result} Bank Account Type.`)
                    } else {
                        errorAlert()
                    }
                },
                error: errorAlert()
            });
        })
        $('#btn-bank-account-type').on("click", function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddTransactionType", "Admin")",
                data: { type: $('#TransactionType').val() },
                dataType: "json",
                success: function (result) {
                    if (result) {
                        toastr["success"](`Successfully added ${result} Transaction Type.`)
                    } else {
                        errorAlert()
                    }
                },
                error: errorAlert()
            });
        })

        function errorAlert() {
            toastr["error"]("There was an error adding your data.")
        }

    </script>
}