@model MoneyPortal.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your Password";
}

<h2>@ViewBag.Title?</h2>
<br/>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "mb-4", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-material" })
            @Html.LabelFor(m => m.Email, new { @class = "label-material" })
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Email Reset Link" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}