@using Microsoft.Owin.Security
@model MoneyPortal.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log In";
}

@using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { @class = "mb-4", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-material" })
        @Html.LabelFor(m => m.Email, new { @class = "label-material" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-material" })
        @Html.LabelFor(m => m.Password, new { @class = "label-material" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="checkbox">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Log in" class="btn btn-primary" />
    </div>
}
@Html.ActionLink("Forgot Password?", "ForgotPassword", null, new { @class = "forgot-pass" })
<br>
<small>Do not have an account? </small>@Html.ActionLink("Sign Up!", "Register", null, new { @class = "signup" })
<hr />
<small>Sign up with an External Login!</small>
<div id="socialLoginList">
    <p>
        @using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post, htmlAttributes: new { style = "max-width: 100%" }))
        {
            @Html.AntiForgeryToken()
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            foreach (AuthenticationDescription p in loginProviders)
            {
                <button type="submit" class="btn btn-primary" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
            }
        }
    </p>
</div>
<hr />
<small>Try a Demo User!</small>
<div id="DemuUsers">
    <p>
        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post, htmlAttributes: new { style = "max-width: 100%" }))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary" name="emailKey" value="DemoEmailAdmin">Admin</button>
            <button type="submit" class="btn btn-primary" name="emailKey" value="DemoEmailHouseholdOwner">Owner</button>
            <button type="submit" class="btn btn-primary" name="emailKey" value="DemoEmailHouseholdMember">Member</button>
            <button type="submit" class="btn btn-primary" name="emailKey" value="DemoEmailPersonal">Personal</button>
        }
    </p>
</div>

@*@Scripts.Render("~/bundles/jqueryval")*@