@model MoneyPortal.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "mb-4", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-material" })
        @Html.LabelFor(m => m.FirstName, new { @class = "label-material" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-material" })
        @Html.LabelFor(m => m.LastName, new { @class = "label-material" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-material" })
        @Html.LabelFor(m => m.Email, new { @class = "label-material" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-material" })
        @Html.LabelFor(m => m.Password, new { @class = "label-material" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-material" })
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label-material" })
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Register" />
    </div>
}
<small>Already have an account? </small>@Html.ActionLink("Log In", "Login", null, new { @class = "signup" })

@Scripts.Render("~/bundles/jqueryval")