@model MoneyPortal.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "mb-4", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-material" })
        @Html.LabelFor(m => m.Email, new { @class = "label-material" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-material" })
        @Html.LabelFor(m => m.Password, new { @class = "label-material" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-material" })
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label-material" })
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Reset" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
