@using MoneyPortal.Models
@using Microsoft.AspNet.Identity

@model IEnumerable<BankAccount>

@{
    ViewBag.Title = "Household Bank Accounts";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Account
            </th>
            <th>
                Current Balance
            </th>
            <th>
                Low Balance Alert
            </th>
            <th>
                Owner
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Type.Name == "Checking")
                    {
                        <i class="fas fa-lg fa-money-check-alt"></i> @item.Name
                    }
                    else if (item.Type.Name == "Savings")
                    {
                        <i class="fas fa-lg fa-piggy-bank"></i> @item.Name
                    }
                    else if (item.Type.Name == "Credit")
                    {
                        <i class="fas fa-lg fa-credit-card"></i> @item.Name
                    }
                </td>
                <td>
                    @item.CurrentBalance.ToString("c")
                </td>
                <td>
                    @item.LowBalanceLevel.ToString("c")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.FullName)
                </td>
                <td class="text-right">
                    @if (User.IsInRole("Owner") || item.OwnerId == User.Identity.GetUserId())
                    {
                        @Html.ActionLink("Remove", "RemoveBankAccount", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $('#dd-household-link').click()
        $('#household-bank-accounts').addClass('active')

        $('.table').DataTable({
            "order": [0, 'asc'],
            "columnDefs": [{ "orderable": false, "targets": 4 }]
        });
    </script>
}