@using MoneyPortal.Models
@model BankAccount

@{
    ViewBag.Title = Model.Name;
}

<!--SHORTCUT BUTTONS-->
<div class="row shortcut-bar">
    <div class="col-auto">
        <div class="shortcut btn" id="shc-join-bank-account"><strong>Join Bank Account</strong> <i class="fas fa-university"></i></div>
    </div>

    <div class="col-auto ml-auto">
        <div class="shortcut btn" id="shc-leave-household"><strong>Edit Account</strong> <i class="fas fa-edit"></i></div>
    </div>
    <div class="col-auto">
        <div class="shortcut btn leave-household" id="shc-delete-bank-account"><strong>Delete Account</strong> <i class="fas fa-trash-alt"></i></div>
    </div>
</div>

<!--SHORTCUT BOXES-->
<div class="row" id="shortcut-row">
    <!--INVITE MEMBER-->
    <div class="col-6 shortcut-block" id="invite-member">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <strong>Invite Member</strong>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("Invite", "Invitations", FormMethod.Post, new { id = "form-invite-member" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        @Html.Label("Recipient Emails", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextArea("RecipientEmails", htmlAttributes: new { @class = "form-control", placeholder = "Enter comma seperated emails.", rows = "2" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("Personal Message", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextArea("PersonalMessage", htmlAttributes: new { @class = "form-control", rows = "4" })
                        </div>
                    </div>
                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <button type="submit" class="btn btn-primary">Invite!</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--JOIN BANK ACCOUNT-->
    <div class="col-6 shortcut-block" id="join-bank-account">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <strong>Join Bank Account</strong>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("JoinBankAccount", "Households", FormMethod.Post, new { id = "form-join-bank-account" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(Model => Model.HouseholdId)
                    <div class="form-group row">
                        @Html.Label("Bank Accounts", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("UsersBankAccounts", null, new { @class = "form-control", id = "dd-user-bank-accounts" })
                        </div>
                    </div>
                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <button type="submit" class="btn btn-primary">Join</button>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <!--CREATE BUDGETS & ITEMS / REMOVE ITEMS-->
    <div class="col-6 shortcut-block" id="create-budgets">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <strong>Create Budgets</strong>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                <div class="row">
                    <div class="col-md-7">
                        @using (Html.BeginForm("CreateBudget", "Budgets", FormMethod.Post, new { id = "form-add-budget" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(Model => Model.HouseholdId)
                            <div class="form-group row">
                                @Html.Label("Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="budgetName" required />

                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.Label("Description", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="budgetDescription" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.Label("Budget Amount", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text form-control">$</span>
                                    </div>
                                    <input type="number" class="form-control" name="budgetAmount" required />
                                    <div class="input-group-append">
                                        <span class="input-group-text form-control">.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row no-gutters mb-0">
                                <div class="col-auto ml-auto">
                                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Create Budget</button>
                                </div>
                            </div>
                        }
                        <br />
                        <div class="title"><strong>Create Items</strong></div>
                        @using (Html.BeginForm("CreateBudgetItem", "Budgets", FormMethod.Post, new { id = "form-add-budget-item" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group row">
                                @Html.Label("Budget", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("Budgets", null, new { @class = "form-control", id = "dd-budgets" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.Label("Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="budgetItemName" required />
                                </div>
                            </div>
                            <div class="form-group row no-gutters mb-0">
                                <div class="col-auto ml-auto">
                                    <button type="submit" class="btn btn-primary">Create Item</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-5">
                        @using (Html.BeginForm("RemoveItem", "Budgets", FormMethod.Post, new { id = "form-remove-budget-item" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group mb-0" id="div-budget-list">
                                @Html.Action("BudgetList", "Budgets")

                            </div>
                            <div class="form-group row no-gutters mb-0">
                                <div class="col-auto ml-auto">
                                    <button type="submit" class="btn btn-danger">Remove Item</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--EDIT BUDGET-->
    <div class="col-6 shortcut-block" id="edit-budgets">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <strong>Edit Budget</strong>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#shc-delete-bank-account').on("click", () => {
            Swal.fire({
                title: 'Are you sure?',
                text: "This will permanently delete your account and all transactions!",
                icon: 'warning',
                input: 'text',
                inputPlaceholder: 'Enter DELETE if you wish to proceed.',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete',
                backdrop: true
            }).then((result) => {
                if (result.value == 'DELETE') {
                    window.location.href = '@Url.Action("Delete", "BankAccounts")';
                } else if (result.dismiss != Swal.DismissReason.cancel || result.dismiss != Swal.DismissReason.backdrop) {
                    Swal.fire({
                        title: 'Error!',
                        text: 'DELETE not confirmed!',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }
            })
        })

        $('#shc-add-to-household').on("click", () => {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
        })



    </script>
}