@using MoneyPortal.Models
@using MoneyPortal.ViewModels
@model BankAccount

@{
    ViewBag.Title = $"{ Model.Name } - { Model.Type.Name }";
}

<!--SHORTCUT BUTTONS-->
<div class="row shortcut-bar">
    @if (User.IsInRole("Owner") || User.IsInRole("Member"))
    {
        if (Model.HouseholdId == null)
        {
            <div class="col-auto" id="btn-link-account">
                <div class="shortcut btn" id="shc-link-bank-account"><strong>Link to Household</strong> <i class="fas fa-home"></i></div>
            </div>
            <div class="col-auto d-none" id="btn-unlink-account">
                <div class="shortcut btn" id="shc-unlink-bank-account"><strong>Unlink from Household</strong> <i class="fas fa-home"></i></div>
            </div>
        }
        else
        {
            <div class="col-auto d-none" id="btn-link-account">
                <div class="shortcut btn" id="shc-link-bank-account"><strong>Link to Household</strong> <i class="fas fa-home"></i></div>
            </div>
            <div class="col-auto" id="btn-unlink-account">
                <div class="shortcut btn" id="shc-unlink-bank-account"><strong>Unlink from Household</strong> <i class="fas fa-home"></i></div>
            </div>
        }
    }
    <div class="col-auto ml-auto">
        <div class="shortcut btn" data-toggle="modal" data-target="#modal-edit-bank-account"><strong>Edit Account</strong> <i class="fas fa-edit"></i></div>
    </div>
    <div class="col-auto">
        <div class="shortcut btn leave-household" id="shc-delete-bank-account"><strong>Delete Account</strong> <i class="fas fa-trash-alt"></i></div>
    </div>
</div>

<!--ACCOUNT DETAILS-->
<div id="account-statistics">
    @Html.Partial("_AccountStatistics", new AccountStatistics(Model))
</div>

<!--ADD TRANSACTION-->
<div class="block">
    <div class="title row no-gutters mb-0">
        <strong>Add Transaction</strong>
        <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
    </div>
    <div class="block-body collapsable">
        @using (Html.BeginForm("AddTransaction", "Transactions", FormMethod.Post, new { id = "form-add-transaction" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("accountId", Model.Id)
            <div class="row no-gutters">
                <div class="col-md-2">
                    @Html.Label("Amount", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text form-control">$</span>
                        </div>
                        <input type="number" class="form-control" name="amount" required />
                        <div class="input-group-append">
                            <span class="input-group-text form-control">.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.Label("Transaction Type", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.DropDownList("TransactionTypes", null, new { @class = "form-control", required = "" })
                    </div>
                </div>
                <div class="col-md-6">
                    @Html.Label("Memo", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="memo" required />
                    </div>
                </div>
                <div class="col-auto ml-auto align-self-end">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        }
    </div>
</div>

<!--ACCOUNT TRANSACTIONS-->
<div id="account_transactions">
    @Html.Action("AccountTransactions", new { id = Model.Id })
</div>

<!--EDIT MODAL-->
<div id="modal-edit-bank-account" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Account</h4>
                <div class="ml-auto" data-dismiss="modal"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            @using (Html.BeginForm("Edit", "BankAccounts"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.Label("Account Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="bankAccountName" value="@Model.Name" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.Label("Type", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("BankAccountTypes", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("Low Balance Alert", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text form-control">$</span>
                            </div>
                            <input type="text" class="form-control" name="lowBalanceLevel" value="@Model.LowBalanceLevel" required />
                            <div class="input-group-append">
                                <span class="input-group-text form-control">.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="btn-add-bank-account">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //SIDE NAV ACTIVE
        $('#dd-bank-accounts').click()
        var ddLink = "#ba-" + @Model.Id
        $(ddLink).addClass('active')

        //SHORTCUT BUTTONS
        $('#shc-delete-bank-account').on("click", () => {
            Swal.fire({
                title: 'Are you sure?',
                text: "This will permanently delete your account and all transactions!",
                icon: 'warning',
                input: 'text',
                inputPlaceholder: 'Enter DELETE if you wish to proceed.',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete',
                backdrop: true
            }).then((result) => {
                if (result.value == 'DELETE') {
                    window.location.href = '@Url.Action("Delete", "BankAccounts", new { accountId = Model.Id })';
                } else if (result.dismiss != Swal.DismissReason.cancel || result.dismiss != Swal.DismissReason.backdrop) {
                    Swal.fire({
                        title: 'Error!',
                        text: 'DELETE not confirmed!',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }
            })
        })

        $('#shc-link-bank-account').on("click", () => {
            Swal.fire({
                title: 'Link to Household?',
                text: "This account will be linked to your household!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Link!'
            }).then((result) => {
                if (result.value) {
                    //add to household
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("LinkBankAccount", "Households")",
                        data: { id: @Model.Id },
                        dataType: "json",
                        success: function (r) {
                            if (r) {
                                toastr["success"]("You have linked this account to your household!", "Link Successful")
                                $('#btn-link-account').addClass('d-none');
                                $('#btn-unlink-account').removeClass('d-none');
                            } else {
                                toastr["error"]("There was an error linking this account to your household.", "Error!")
                            }
                        },
                        error: function () {
                            toastr["error"]("There was an error submitting your request.", "Submission Error!")
                        }
                    })
                }
            })
        })
        $('#btn-unlink-account').on("click", () => {
            Swal.fire({
                title: 'Remove from Household?',
                text: "This account will be removed from your household!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Remove!'
            }).then((result) => {
                if (result.value) {
                    //add to household
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("RemoveBankAccount", "Households")",
                        data: { id: @Model.Id },
                        dataType: "json",
                        success: function (r) {
                            if (r) {
                                toastr["success"]("You have linked this account to your household!", "Link Successful")
                                $('#btn-link-account').addClass('d-none');
                                $('#btn-unlink-account').removeClass('d-none');
                            } else {
                                toastr["error"]("There was an error linking this account to your household.", "Error!")
                            }
                        },
                        error: function () {
                            toastr["error"]("There was an error submitting your request.", "Submission Error!")
                        }
                    })
                }
            })
        })

        //ADD TRANSACTION AJAX
        $('#form-add-transaction').on("submit", function (e) {
            e.preventDefault();
            tables.destroy();
            var actionUrl = $(this).attr("action");
            $.post(actionUrl, $(this).serialize(), function (result) {
                if (result) {
                    toastr["success"]("Your transaction has been added!", "New Transaction!")
                    $('#form-add-transaction')[0].reset()
                    $('#account-statistics').load('@Url.Action("AccountStatistics", "BankAccounts", new { id = Model.Id })')
                    $('#account_transactions').load('@Url.Action("AccountTransactions", "BankAccounts", new { id = Model.Id })')
                } else if (result == false){
                    toastr["error"]("There was an error adding your transaction.", "Error!")
                }
            }).fail(function () {
                toastr["error"]("There was an error submitting your request.", "Submit Error!")
            })
        })

        //////////////////////////////
        // FOLLOWING MUST ALSO BE   //
        // IN _Transactions.cshtml  //
        //////////////////////////////
        //TRANSACTIONS BUTTONS
        $('.edit-button').on("click", function (e) {
            $(e.currentTarget).parent().toggleClass('d-none')
            $(e.currentTarget).parent().siblings('.edit').toggleClass('d-none')
            $(e.currentTarget).parent().siblings('.details').toggleClass('d-none')
        })
        $('.cancel-button').on("click", function (e) {
            $(e.currentTarget).parent().toggleClass('d-none')
            $(e.currentTarget).parent().siblings('.edit').toggleClass('d-none')
            $(e.currentTarget).parent().siblings('.details').toggleClass('d-none')
        })
        $('.delete-button').on("click", function (e) {
            var transactionId = $(e.currentTarget).attr('data-delete')
            Swal.fire({
                title: 'Delete Transaction?',
                text: "Your transaction will be permanently removed!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete!'
            }).then((result) => {
                if (result.value) {
                    $.post('@Url.Action("DeleteTransaction", "Transactions")', { id: transactionId }, function (r) {
                        if (r) {
                            toastr["success"]("Your transaction has been removed!", "Deleted!")
                            tables.row($(e.currentTarget).parents('tr')).remove().draw()
                            $('#account-statistics').load('@Url.Action("AccountStatistics", "BankAccounts", new { id = Model.Id })')
                        }
                        else {
                            toastr["error"]("There was an error removing your transaction.", "Error!")
                        }
                    });
                }
            })
        })
        $('.form-edit-transaction').on("submit", function (e) {
            e.preventDefault();

            var t = $(this)
            var actionUrl = $(this).attr("action");

            $.post(actionUrl, $(this).serialize(), function (result) {
                if (result) {
                    t.parent().find('.cancel-button').click()
                    t.parent().find('.update-amount').text(formatter.format(t.parent().find('.input-amount').val()))
                    var tranType = t.parent().find('.input-type option:selected').text()
                    if (tranType == "Deposit") {
                        t.parent().find('.transaction-type').text("Deposit")
                        t.parent().find('.update-amount').removeClass("text-amount-withdrawal")
                        t.parent().find('.update-amount').removeClass("text-amount-transfer")
                        t.parent().find('.update-amount').addClass("text-amount-deposit")
                    } else if (tranType == "Transfer") {
                        t.parent().find('.transaction-type').text("Transfer")
                        t.parent().find('.update-amount').removeClass("text-amount-withdrawal")
                        t.parent().find('.update-amount').removeClass("text-amount-deposit")
                        t.parent().find('.update-amount').addClass("text-amount-transfer")
                    } else {
                        t.parent().find('.transaction-type').text("Withdrawal")
                        t.parent().find('.update-amount').addClass("text-amount-deposit")
                        t.parent().find('.update-amount').addClass("text-amount-transfer")
                        t.parent().find('.update-amount').addClass("text-amount-withdrawal")
                    }
                    tables.draw();
                    t.parent().find('.update-memo').text(t.parent().find('.input-memo').val())
                    t.parent().find('.update-type').text(t.parent().find('.input-type option:selected').text())
                    $('#account-statistics').load('@Url.Action("AccountStatistics", "BankAccounts", new { id = Model.Id })')
                    toastr["success"]("Your transaction has been updated!", "Transaction Update!")
                } else if (result == false){
                    toastr["error"]("There was an error updating your transaction.", "Update Error!")
                }
            }).fail(function () {
                toastr["error"]("There was an error submitting your request.", "Submit Error!")
            })
        })
        //DATATABLE
        var tables = $('.table').DataTable({
            "order": [3, 'desc'],
            "columnDefs": [{ "orderable": false, "targets": 4 }]
        });
        //DATATABLE FILTERS
        $('#tab-all').on('click', function (e) {
            e.preventDefault();
            tables.columns(0).search("", false, false, false).draw();
        });
        $('#tab-withdrawals').on('click', function (e) {
            e.preventDefault();
            tables.columns(0).search("Withdrawal", false, false, false).draw();
        });
        $('#tab-deposits').on('click', function (e) {
            e.preventDefault();
            tables.columns(0).search("Deposit", false, false, false).draw();
        });
        $('#tab-transfers').on('click', function (e) {
            e.preventDefault();
            tables.columns(0).search("Transfer", false, false, false).draw();
        });
    </script>
}