@using MoneyPortal.ViewModels
@model UserProfileViewModel
@*@model KillBug.Models.ApplicationUser*@
@{
    ViewBag.Title = "My Profile";
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-muted">@Model.Role</div>
            @using (Html.BeginForm("UpdateUser", "Manage", FormMethod.Post, new { id = "edit-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.AvatarPath)
                <div class="card-body">
                    <!-- USER PROFILE -->
                    <div class="row" id="user-details">
                        <div class="col-7">
                            <h2 class="lead"><b><strong>@Model.FirstName @Model.LastName</strong></b></h2>
                            <p class="text-muted text-sm"><b>About: </b>@Model.AboutMe</p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-home"></i></span> Address: @Model.Address</li>
                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: @Model.PhoneNumber</li>
                            </ul>
                        </div>
                        <div class="col-5 text-center">
                            <img src="~/@Model.AvatarPath" alt="" class="rounded-circle img-fluid">
                        </div>
                    </div>
                    <!-- EDIT USER PROFILE -->
                    <div class="row d-none" id="user-edit">
                        <div class="col-7">
                            <div class="form-horizontal">
                                <div class="form-group row no-gutters">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "form-control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group row no-gutters">
                                    @Html.Label("Last Name", htmlAttributes: new { @class = "form-control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group row no-gutters">
                                    @Html.Label("Address", htmlAttributes: new { @class = "form-control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group row no-gutters">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group row no-gutters">
                                    @Html.Label("City", htmlAttributes: new { @class = "form-control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AddressCity, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group row no-gutters">
                                    @Html.Label("State", htmlAttributes: new { @class = "form-control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AddressState, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group row no-gutters">
                                    @Html.Label("Zip", htmlAttributes: new { @class = "form-control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AddressZip, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group row no-gutters">
                                    @Html.Label("Phone #", htmlAttributes: new { @class = "form-control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group row no-gutters">
                                    @Html.Label("About Me", htmlAttributes: new { @class = "form-control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AboutMe, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 text-center">
                            <div id="profile-container">
                                <img id="profileImage" class="image img-fluid rounded-circle" src="~/@Model.AvatarPath" />
                                <div class="centered"><strong>EDIT</strong></div>
                            </div>
                            <input id="imageUpload" type="file" name="image" capture>
                        </div>
                    </div>
                </div>
                <div class="card-footer row no-gutters">
                    <div class="col-auto">
                        <input type="button" value="Edit Profile" class="btn btn-primary" id="edit-details" />
                        <input type="button" value="Cancel" class="btn btn-secondary d-none" id="edit-cancel" />
                    </div>
                    <div class="col-auto ml-auto">
                        <input type="submit" value="Save" class="btn btn-primary d-none" id="edit-save" />
                    </div>
                </div>
            }
        </div>
    </div>
    <!--ACCOUNT OPTIONS-->
    <div class="col-sm-6 col-lg-3" id="user-options">
        <div class="card">
            <div class="card-header text-muted">
                Account Options
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <a href="#" id="btn_Change_Email">Change Email</a>
                    </div>
                    <div class="col-12">
                        <a href="#" id="btn_Change_Password">Change Password</a>
                    </div>
                    <div class="col-12">
                        <p class="class-success">@ViewBag.StatusMessage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--PASSWORD-->
    <div class="col-sm-6 col-lg-3 d-none closable-box" id="password-management">
        <div class="card">
            <div class="card-header text-muted row no-gutters">
                <div class="col-10">Change Password</div>
                @*<div class="ml-auto"><i class="fas fa-lg fa-times btn btn-block-close" id="close-password"></i></div>*@
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label("Old Password", new { @class = "form-control-label" })
                                <div class="col-md-10">
                                    <input type="password" name="OldPassword" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("New Password", new { @class = "form-control-label" })
                                <div class="col-md-10">
                                    <input type="password" name="NewPassword" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Confirm Password", new { @class = "form-control-label" })
                                <div class="col-md-10">
                                    <input type="password" name="ConfirmPassword" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Change Password" class="btn btn-primary" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--EMAIL-->
    <div class="col-sm-6 col-lg-3 d-none closable-box" id="email-management">
        <div class="card">
            <div class="card-header text-muted row no-gutters">
                <div class="col-10">Change Email Address</div>
                @*<div class="ml-auto"><i class="fas fa-lg fa-times btn btn-block-controls" id="close-email"></i></div>*@
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        @using (Html.BeginForm("ChangeEmail", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label("New Email Address", new { @class = "form-control-label" })
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.Email.EmailAddress, new { htmlAttributes = new { htmlAttributes = new {@class = "form-control" } })*@
                                    <input type="email" name="newEmail" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Change Email" class="btn btn-primary" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#edit-details').on("click", () => {
            $('#edit-details').hide()
            $('#edit-cancel').removeClass("d-none")
            $('#edit-save').removeClass("d-none")
            $('#user-details').hide()
            $('#user-edit').removeClass("d-none")
        })
        $('#edit-cancel').on("click", () => {
            $('#edit-details').show()
            $('#edit-cancel').addClass("d-none")
            $('#edit-save').addClass("d-none")
            $('#user-details').show()
            $('#user-edit').addClass("d-none")
        })
        //BLOCK CONTROLS
        $('.btn-block-close').on("click", function (e) {
            $(e.currentTarget).closest('.card').parent().addClass('d-none')
        });

        $('#btn_Change_Password').on("click", () => {
            $('#password-management').toggleClass('d-none')
            $('#password-management').insertAfter('#user-options')
        })
        $('#btn_Change_Email').on("click", () => {
            $('#email-management').toggleClass('d-none')
            $('#email-management').insertAfter('#user-options')
        })
        $('#close-email').on("click", () => {
            $('#email-management').addClass('d-none')
        })
        $('#close-password').on("click", () => {
            $('#password-management').addClass('d-none')
        })

        //AVATAR 2
        $("#profileImage").click(function (e) {
            $("#imageUpload").click();
        });
        $('.centered').click(function (e) {
            $('#imageUpload').click();
        });
        $("#imageUpload").change(function () {
            fasterPreview(this);
        });

        function fasterPreview(uploader) {
            if (uploader.files && uploader.files[0]) {
                $('#profileImage').attr('src',
                    window.URL.createObjectURL(uploader.files[0]));
            }
        }
    </script>
}
