@{
    ViewBag.Title = "Household";
}

<div class="row shortcut-bar">
    @if (User.IsInRole("Owner"))
    {
        <div class="col-auto">
            <div class="shortcut btn" id="shc-invite-member"><strong>Invite Member</strong> <i class="fas fa-user-plus"></i></div>
        </div>
        <div class="col-auto">
            <div class="shortcut btn" id="shc-create-category"><strong>Create Category</strong> <i class="fas fa-sitemap"></i></div>
        </div>
        <div class="col-auto">
            <div class="shortcut btn" id="shc-create-item"><strong>Create Category</strong> <i class="fas fa-project-diagram"></i></div>
        </div>
    }
    @if (ViewBag.UsersBankAccounts != null)
    {
        <div class="col-auto">
            <div class="shortcut btn" id="shc-join-bank-account"><strong>Join Bank Account</strong> <i class="fas fa-university"></i></div>
        </div>
    }
    @if (User.IsInRole("Member"))
    {
        <div class="col-auto ml-auto">
            <div class="shortcut btn leave-household" id="shc-leave-household"><strong>Leave Household</strong> <i class="fas fa-door-closed"></i></div>
        </div>
    }
</div>

<div class="row" id="shortcut-row">
    <div class="col-6 d-none" id="invite-member">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <strong>Invite Member</strong>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("InviteAsync", "Invitations"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        @Html.Label("Recipient Emails", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextArea("RecipientEmails", htmlAttributes: new { @class = "form-control", placeholder = "Enter comma seperated emails.", rows = "2" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("Personal Message", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextArea("PersonalMessage", htmlAttributes: new { @class = "form-control", rows = "4" })
                        </div>
                    </div>
                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <button type="submit" class="btn btn-primary">Invite!</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-6 d-none" id="join-bank-account">
            <div class="block">
                <div class="title row no-gutters mb-0"><strong>Join Bank Account</strong></div>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body">

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-4">

    </div>
</div>
@section Scripts{
    <script>
        //BLOCK CONTROL BUTTONS
        $('.btn-block-minimize').on("click", function (e) {
            $(e.currentTarget).toggleClass(['fa-chevron-up', 'fa-chevron-down'])
            $(e.currentTarget).closest('.block').children('.collapsable').slideToggle()
        });
        $('.btn-block-close').on("click", function (e) {
            $(e.currentTarget).closest('.block').parent().toggleClass('d-none')
        });

        //SHORTCUT BUTTONS
        $('#shc-invite-member').on("click", () => {
            $('#invite-member').removeClass('d-none')
            $('#shortcut-row').prepend($('#add-household'))
        })
        $('#shc-bankaccount').on("click", () => {
            $('#join-bank-account').removeClass('d-none')
            $('#shortcut-row').prepend($('#add-bankaccount'))
        })

        //TOASTR ALERTS SETUP
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        if ('@ViewBag.Success' == 'True') {
            toastr["success"]("@ViewBag.Message", "Success!")
        } else if ('@ViewBag.Success' == 'False') {
            toastr["error"]("@ViewBag.Message","Error!")
        }

        //LEAVE HOUSEHOLD BUTTON
        $('#shc-leave-household').on("click", () => {
            Swal.fire({
                title: 'Are you sure?',
                text: "You will need a new invitation code to rejoin this household!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, leave'
            }).then((result) => {
                if (result.value) {
                    window.location.href = '@Url.Action("Leave", "Households")';
                }
            })
        })

    </script>
}
