@using MoneyPortal.ViewModels
@model HouseholdVM
@{
    ViewBag.Title = "Household";
}

<!--SHORTCUT BUTTONS-->
<div class="row shortcut-bar">
    @if (User.IsInRole("Owner"))
    {
        <div class="col-auto">
            <div class="shortcut btn" id="shc-invite-member"><strong>Invite Member</strong> <i class="fas fa-user-plus"></i></div>
        </div>
        if (Model.UsersBankAccounts != null)
        {
            <div class="col-auto">
                <div class="shortcut btn" id="shc-join-bank-account"><strong>Join Bank Account</strong> <i class="fas fa-university"></i></div>
            </div>
        }
        <div class="col-auto">
            <div class="shortcut btn" id="shc-add-budget"><strong>Add Budget</strong> <i class="fas fa-sitemap"></i></div>
        </div>
        <div class="col-auto">
            <div class="shortcut btn" id="shc-add-budget-item"><strong>Add Budget Item</strong> <i class="fas fa-project-diagram"></i></div>
        </div>
        <div class="col-auto ml-auto">
            <div class="shortcut btn leave-household" id="shc-delete-household"><strong>Delete Household</strong> <i class="fas fa-house-damage"></i></div>
        </div>
    }
    @if (User.IsInRole("Member"))
    {
        if (Model.UsersBankAccounts != null)
        {
            <div class="col-auto">
                <div class="shortcut btn" id="shc-join-bank-account"><strong>Join Bank Account</strong> <i class="fas fa-university"></i></div>
            </div>
        }
        <div class="col-auto ml-auto">
            <div class="shortcut btn leave-household" id="shc-leave-household"><strong>Leave Household</strong> <i class="fas fa-door-closed"></i></div>
        </div>
    }
</div>

<!--SHORTCUT BOXES-->
<div class="row" id="shortcut-row">
    <!--INVITE MEMBER-->
    <div class="col-6 shortcut-block" id="invite-member">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <strong>Invite Member</strong>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("InviteAsync", "Invitations"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        @Html.Label("Recipient Emails", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextArea("RecipientEmails", htmlAttributes: new { @class = "form-control", placeholder = "Enter comma seperated emails.", rows = "2" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("Personal Message", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextArea("PersonalMessage", htmlAttributes: new { @class = "form-control", rows = "4" })
                        </div>
                    </div>
                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <button type="submit" class="btn btn-primary">Invite!</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--JOIN BANK ACCOUNT-->
    <div class="col-6 shortcut-block" id="join-bank-account">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <strong>Join Bank Account</strong>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("JoinBankAccount", "Household"))
                {
                    @Html.AntiForgeryToken()
                    
                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <button type="submit" class="btn btn-primary">Join</button>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <!--ADD BUDGET-->
    <div class="col-6 shortcut-block" id="add-budget">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <strong>Add Budget</strong>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("CreateBudget", "Budgets", FormMethod.Post, new { id = "form-add-budget" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(Model => Model.HouseholdId)
                    <div class="form-group row">
                        @Html.Label("Name", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="budgetName" required />

                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("Description", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="budgetDescription" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("Budget Amount", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text form-control">$</span>
                            </div>
                            <input type="number" class="form-control" name="budgetAmount" required />
                            <div class="input-group-append">
                                <span class="input-group-text form-control">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <button type="submit" class="btn btn-primary" data-dismiss="modal">Add Budget</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--ADD BUDGET ITEM-->
    <div class="col-6 shortcut-block" id="add-budget-item">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <strong>Add Budget Item</strong>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("CreateBudgetItem", "Budgets", FormMethod.Post, new { id = "form-add-budget-item" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        @Html.Label("Name", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="budgetItemName" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("Budget", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("Budgets", null, new { @class = "form-control", id="dd-budgets" })
                        </div>
                    </div>
                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <button type="submit" class="btn btn-primary">Add Budget Item</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- ADD CHARTING & BUDGETS HERE -->

@section Scripts{
    <script>
        //BLOCK CONTROL BUTTONS
        $('.btn-block-minimize').on("click", function (e) {
            $(e.currentTarget).toggleClass(['fa-chevron-up', 'fa-chevron-down'])
            $(e.currentTarget).closest('.block').children('.collapsable').slideToggle()
        });
        $('.btn-block-close').on("click", function (e) {
            $(e.currentTarget).closest('.block').parent().hide()
        });

        //SHORTCUT BUTTONS
        $('.shortcut-block').hide()
        $('#shc-invite-member').on("click", () => {
            $('#shortcut-row').prepend($('#invite-member'))
            $('#invite-member').slideDown()
        })
        $('#shc-join-bank-account').on("click", () => {
            $('#shortcut-row').prepend($('#join-bank-account'))
            $('#join-bank-account').slideDown()
        })
        $('#shc-add-budget').on("click", () => {
            $('#shortcut-row').prepend($('#add-budget'))
            $('#add-budget').slideDown()
        })
        $('#shc-add-budget-item').on("click", () => {
            $('#shortcut-row').prepend($('#add-budget-item'))
            $('#add-budget-item').slideDown()
        })

        //LEAVE/DELETE HOUSEHOLD SHORTCUT BUTTON
        $('#shc-leave-household').on("click", () => {
            Swal.fire({
                title: 'Are you sure?',
                text: "You will need a new invitation code to rejoin this household!",
                icon: 'warning',
                input: 'text',
                inputPlaceholder: 'Enter LEAVE if you wish to proceed.',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, leave',
                backdrop: true
            }).then((result) => {
                if (result.value == 'LEAVE') {
                    window.location.href = '@Url.Action("Leave", "Households")';
                } else if (result.dismiss != Swal.DismissReason.cancel || result.dismiss != Swal.DismissReason.backdrop) {
                    Swal.fire({
                        title: 'Error!',
                        text: 'LEAVE not confirmed!',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }
            })
        })
        $('#shc-delete-household').on("click", () => {
            Swal.fire({
                title: 'Are you sure?',
                text: "Deleting your household will remove all Budgets & Members!",
                icon: 'warning',
                input: 'text',
                inputPlaceholder: 'Enter DELETE if you wish to proceed.',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete',
                backdrop: true
            }).then((result) => {
                if (result.value == 'DELETE') {
                    window.location.href = '@Url.Action("Delete", "Households")';
                } else if (result.dismiss != Swal.DismissReason.cancel || result.dismiss != Swal.DismissReason.backdrop) {
                    Swal.fire({
                        title: 'Error!',
                        text: 'DELETE not confirmed!',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }
            })
        })

        //TOASTR ALERTS SETUP
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        if ('@ViewBag.Success' == 'True') {
            toastr["success"]("@ViewBag.Message", "Success!")
        } else if ('@ViewBag.Success' == 'False') {
            toastr["error"]("@ViewBag.Message","Error!")
        }

        //AJAX PARTIAL TEST
        @* <button type="button" class="btn btn-primary" id="freshTest">Refresh Side Menu</button> *@
        @*$('#freshTest').on("click", () => {
            $('#SideMenu').load('@Url.Action("SideMenuRefresh", "Dashboard")');
        })*@

        //AJAX CLICKS
        $('#form-invite-member').on("submit", function (e) {
            e.preventDefault();
            var actionUrl = $(this).attr("action");
            $.post(actionUrl, $(this).serialize(), function (result) {
                if (result != false) {
                    toastr["success"]("Your budget has been added!", "New Budget!")
                    $('#form-add-budget')[0].reset();
                } else {
                    toastr["error"]("There was an error creating your budget.", "Error!")
                }
            }).fail(function () {
                toastr["error"]("There was an error submitting your budget.", "Submit Error!")
            })
        })
        $('#form-add-budget').on("submit", function (e) {
            e.preventDefault();
            var actionUrl = $(this).attr("action");
            $.post(actionUrl, $(this).serialize(), function (result) {
                if (result) {
                    $("#dd-budgets").empty();
                    $.each(JSON.parse(result), function (value, key) {
                        $("#dd-budgets").append($("<option></option>").attr("value", value).text(key));
                    });
                    toastr["success"]("Your budget has been added!", "New Budget!")
                } else if (result == false){
                    toastr["error"]("There was an error creating your budget.", "Error!")
                }
            }).fail(function () {
                toastr["error"]("There was an error submitting your budget.", "Submit Error!")
            })
        })
        $('#form-add-budget-item').on("submit", function (e) {
            e.preventDefault();
            var actionUrl = $(this).attr("action");
            $.post(actionUrl, $(this).serialize(), function (result) {
                if (result == true) {
                    toastr["success"]("Your budget item has been added!", "New Budget Item!")
                    $('#form-add-budget-item')[0].reset();
                    //create ajax call to get new selectlist with all budget types
                    //update the dropdown in add-budget-item with new selectlist
                } else {
                    toastr["error"]("There was an error creating your budget item.", "Error!")
                }
            }).fail(function () {
                toastr["error"]("There was an error submitting your budget item.", "Submit Error!")
            })
        })
    </script>
}