@using MoneyPortal.ViewModels
@model LobbyVM

@{
    ViewBag.Title = "Lobby";
}
<div class="error-messages">
    <p class="text-warning">@ViewBag.ErrorMessage</p>
</div>

<div class="row" id="lobby-options-row">
    <div class="col-4">
        <div class="btn block" id="create-household" data-toggle="modal" data-target="#modal-create-household">
            <div class="title d-flex justify-content-center">
                <strong>Create Household</strong>
            </div>
            <div class="block-body d-flex justify-content-center">
                <i class="fas fa-home fa-6x"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="btn block" id="join-household" data-toggle="modal" data-target="#modal-join-household">
            <div class="title d-flex justify-content-center">
                <strong>Join Household</strong>
            </div>
            <div class="block-body d-flex justify-content-center">
                <i class="fas fa-door-open fa-6x"></i>
            </div>
        </div>
    </div>
    @*<div class="col-4">
        <div class="btn block" id="household-wizard" data-toggle="modal" data-target="">
            <div class="title d-flex justify-content-center">
                <strong>Household Wizard</strong>
            </div>
            <div class="block-body d-flex justify-content-center">
                <i class="fas fa-magic fa-6x"></i>
            </div>
        </div>
    </div>*@
    <div class="col-4">
        <div class="btn block" id="add-bank-account" data-toggle="modal" data-target="#modal-add-bank-account">
            <div class="title d-flex justify-content-center">
                <strong>Add Bank Account</strong>
            </div>
            <div class="block-body d-flex justify-content-center">
                <i class="fas fa-university fa-6x"></i>
            </div>
        </div>
    </div>
</div>

<!-- MODALS -->
<!--CREATE HOUSEHOLD-->
<div id="modal-create-household" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Household</h4>
                <div data-dismiss="modal"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
                @*<button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>*@
            </div>
            @using (Html.BeginForm("Create", "Households"))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="HouseholdName" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.Label("Greeting", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="HouseholdGreeting" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            }
        </div>
    </div>
</div>
<!--JOIN HOUSEHOLD-->
<div id="modal-join-household" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Join Household</h4>
                <div data-dismiss="modal"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
                @*<button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>*@
            </div>
            @using (Html.BeginForm("CheckInvitation", "Invitations", FormMethod.Post, new { id = "form-join-household" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Invitation Code", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="code" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Join!</button>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $('#Lobby').addClass("active")
        $('#form-join-household').on("submit", function (e) {
            e.preventDefault();
            var actionUrl = $(this).attr("action");
            $.post(actionUrl, $(this).serialize(), function (result) {
                if (result) {
                    window.location.href = '@Url.Action("JoinHousehold", "Invitations")/?code=' + result;
                } else {
                    toastr["error"]("Your code was invalid.", "Invalid Code!")
                }
            }).fail(function () {
                toastr["error"]("There was an error submitting your code.", "Submit Error!")
            })
        })
    </script>
}