@using MoneyPortal.ViewModels

@{
    ViewBag.Title = "Main";
}
<div class="row shortcut-bar">
    <div class="col-auto">
        <div class="shortcut btn" id="shc-household"><strong>Household</strong> <i class="fas fa-plus"></i></div>
    </div>
    <div class="col-auto">
        <div class="shortcut btn" id="shc-bankaccount"><strong>Bank Account</strong> <i class="fas fa-plus"></i></div>
    </div>
</div>
<div class="row" id="play-row">
<!--NEW HOUSEHOLD-->
    <div id="add-household" class="col-4">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <div class="col-auto"><strong>Add Household</strong></div>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-household"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("Create", "Households"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="HouseholdName" />
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.Label("Greeting", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="HouseholdGreeting" />
                        </div>
                    </div>
                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
<!--NEW BANK ACCOUNT-->
    <div id="add-bankaccount" class="col-4">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <div class="col-auto"><strong>Add Bank Account</strong></div>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("Create", "Households"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="HouseholdName" />
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.Label("Greeting", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="HouseholdGreeting" />
                        </div>
                    </div>
                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
<!--BANK ACCOUNT TYPES-->
    <div id="add-bankaccount-type" class="col-4">
        <div class="block">
            <div class="title row no-gutters mb-0">
                <div class="col-auto"><strong>Add Bank Account Type</strong></div>
                <div class="col-auto ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-minimize" id="collapse-bank-account"></i></div>
                <div class="col-auto"><i class="fas fa-lg fa-times btn btn-block-close"></i></div>
            </div>
            <div class="block-body collapsable">
                @using (Html.BeginForm("CreateType", "BankAccounts"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="HouseholdName" />
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.Label("Greeting", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="HouseholdGreeting" />
                        </div>
                    </div>
                    <div class="form-group row no-gutters mb-0">
                        <div class="col-auto ml-auto">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //BLOCK CONTROL BUTTONS
        $('.btn-block-minimize').on("click", function (e) {
            $(e.currentTarget).toggleClass(['fa-chevron-up', 'fa-chevron-down'])
            $(e.currentTarget).closest('.block').children('.collapsable').slideToggle()
        });
        $('.btn-block-close').on("click", function (e) {
            $(e.currentTarget).closest('.block').parent().toggleClass('d-none')
        });

        //SHORTCUT BUTTONS
        $('#shc-household').on("click", () => {
            $('#add-household').removeClass('d-none')
            $('#play-row').prepend($('#add-household'))
        })
        $('#shc-bankaccount').on("click", () => {
            $('#add-bankaccount').removeClass('d-none')
            $('#play-row').prepend($('#add-bankaccount'))
        })

    </script>
}
